<div class="line"></div>
<div class="wrapper">
  <header role="banner">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="contact.css">
    <nav role="navigation">
      <h1><a href="#">Solutions It</a></h1>
      <ul class="nav-ul">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
    <section class="sec-intro" role="section">
      <img src="https://www.techweekeurope.co.uk/wp-content/uploads/2012/07/wifimountaindownload.jpg" alt="" />
      <h1>Be Innovative!</h1>
    </section>
    <div class="container">
        <form action="action_page.php">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="lname">E-mail</label>
          <input type="text" id="lname" name="E-mail" placeholder="Your e-mail..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div> 
  </main>
</div>

<footer>
    <nav role="navigation">
      <ul class="nav-ul">
        <b class="copy">&copy; Test</b>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </footer>