<div class="line"></div>
<div class="wrapper">
  <header role="banner">
    <link rel="stylesheet" href="main.css">
    <nav role="navigation">
      <h1><a href="#">Solutions It</a></h1>
      <ul class="nav-ul">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
    <section class="sec-intro" role="section">
      <img src="https://www.techweekeurope.co.uk/wp-content/uploads/2012/07/wifimountaindownload.jpg" alt="" />
      <h1>Be Innovative!</h1>
    </section>
    <section class="sec-boxes" role="section">
      <adrticle class="box">
        <h1>Open-minded</h1>
        <p>Every option should be explored and tried no matter how unpredictable, impossible, insane or ridiculous does it looks or sound.</p>
        <button class="button" type="button" role="button" value="MORE">More</button>
      </adrticle>
      <adrticle class="box">
        <h1>Creative</h1>
        <p>Brainstorming, idea generation, playing sessions, note taking. You think you used everything? We will challenge your mind and its abilities to the limits.</p>
        <button class="button" type="button" role="button" value="MORE">More</button>
      </adrticle>
      <adrticle class="box">
        <h1>Bold</h1>
        <p>Our methods and ideas are are not written or following any books, curriculums or rules. We consider ourselves rebels and we are proud of it.</p>
        <button class="button" type="button" role="button" value="MORE">More</button>
      </adrticle>
      <adrticle class="box">
        <h1>Smart</h1>
        <p>Every project with innovation as a goal requires smart approach. Identify real problem first and look for the smartest and simplest solution later.</p>
        <button class="button" type="button" role="button" value="MORE">More</button>
      </adrticle>
    </section>
    <section class="sec-events" role="section">
      <hr />
      <h1>Upcomming events</h1>
      <article>
        <h1>Tire Technology Expo</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a class="link" href="#">more...</a>
      </article>
      <article>
        <h1>Meteorology World Expo</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a class="link" href="#">more...</a>
      </article>
      <article>
        <h1>Wearable Tech Expo</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a class="link" href="#">more...</a>
      </article>
      <article>
        <h1>Space Tech Inno Expo</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a class="link" href="#">more...</a>
      </article>
    </section>
    <section class="sec-projects" role="section">
      <hr />
      <h1>Previous Projects</h1>
      <article>
        <h1>Neural network for Google</h1>
        <p>People from Google approached us this January with offer to create new neural network for whole Google's ecosystem. This idea was very interesting and looked almost impossible at first glance. However, our engineers proved their expertise and built amazing autonomous platform. <a class="link" href="#">more...</a></p>
      </article>
      <article>
        <h1>Faster operating system for Apple</h1>
        <p>For a years, since founding days of a company, Apple always worked with its own operating system. In October, this was about to change. Our company got chance to rewrite the history by creating brand new OS for Apple. It was very difficult and all our employees worked hard every day. <a class="link" href="#">more...</a></p>
      </article>
      <article>
        <h1>Manufacturing technology for Intel</h1>
        <p>Intel has been manufacturing company for many years. They always used the latest technologies to achieve the best results with lowest costs. However, this was not enough. Intel decided to offer us something that could disrupt whole technology sector. <a class="link" href="#">more...</a></p>
      </article>
    </section>
    <section class="sec-standards" role="section">
      <hr />
      <h1>Our Standards</h1>
      <article>
        <h1>Excellence</h1>
        <p>Our goal is to give our customers the best solutions in highest aquality. Our employees strive for excellence and work hard to achieve it. Everything must work and be reliable. Great design must be both, aesthetic and functional. Product or service that pass these conditions will be everlasting.</p>
      </article>
      <article>
        <h1>Uniqueness</h1>
        <p>Our mantra is to create new paths. We are not interested in copying others because we know, that if you want to succeed, you have to be different, unique. Our customers know that we create unique products and experience for them. This is the best way to differentiate us and our brand from the noise on market. Unique, different and proud.</p>
      </article>
    </section>
    <section class="sec-partners" role="section">
      <hr />
      <h1>Our Partners</h1>
      <div class="row">
        <div class="logo-container">
          <img src="https://i.imgur.com/oSriTuP.png" alt="Google logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/kRgvevC.png" alt="Apple logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/ZZjeIP3.png" alt="Wii logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/536rtCW.png" alt="Valve logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/VTq1c9p.png" alt="Adithya Institute of Technology logo" />
        </div>
        <div class="logo-container">
          <img src="https://i.imgur.com/GdYoyxo.png" alt="Intel logo" />
        </div>
      </div>
    </section>
  </main>
</div>
<footer>
  <nav role="navigation">
    <ul class="nav-ul">
      <b class="copy">&copy; Test</b>
      <li><a href="index.html">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Service</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</footer>
<div class="line"></div>